.picContainer {
	max-width: 1000px;
	border: 1px solid black;
	margin: 30px auto 0px;
	position: relative;
	background-color: white;
}

.picContainer .header {
	min-height: 15vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: gray;
}
.homeButton2 {
	font-size: 4rem;
	margin: 0 0 0 5%;
}

.homeButton2:hover {
	color: lightgray;
	transition: 0.3s;
}

.picContainer h1 {
	font-size: 4rem;
	text-transform: capitalize;
	margin: 0 25% 0 0;
}

.flex {
	display: flex;
}

.flex .flexDiv {
	display: flex;
	flex-direction: column;
	flex: 0 0 150px;
	padding: 10px;
	border-right: 1px solid black;
	text-align: center;
}

.flex .flexDiv div {
	width: 100%;
}

.flex .flexDiv p:active {
	color: red;
}

.flex .flexDiv div a {
	font-size: 1.8rem;
}

.flex .flexDiv div a:hover {
	color: darkgray;
	transition: 0.3s;
}

.albumNames {
	flex-grow: 2;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 40px 20px;
	justify-items: center;
	padding: 40px 20px;
}

.albumNames div {
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
}

.albumNames p {
	text-align: center;
}

.albumNames img {
	width: 100%;
	height: 200px;
	border-radius: 3px 3px 0px 0px;
}

@media (max-width: 812px) {
	.picContainer {
		margin: 2rem;
		display: flex;
		flex-direction: column;
		border: none;
	}

	.picContainer .header {
		padding: 0px 5px;
		justify-content: flex-start;
	}

	.picContainer h1 {
		font-size: 3rem;
		margin: 0;
	}

	.homeButton2 {
		font-size: 3rem;
		margin: 0 9% 0 2%;
	}

	.flex {
		flex-direction: column-reverse;
	}

	.flex .flexDiv {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.flex .albumNames {
		flex-grow: 0;
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.flex .albumNames a {
		margin: 10px 0px 0px 0px;
	}
}

@media (max-height: 500px) {
	.picContainer {
		margin: 20px 75px;
	}

	.albumNames img {
		width: 100%;
		height: 300px;
	}
}
